/*Estilização da página Novo Chamado*/

form textarea {
  height: 105px;
  resize: none;
}

/*Seleciona todos os input que tem o tipo "radio", menos o primeiro filho*/
form input[type="radio"]:not(:first-child) {
  margin-left: 15px;
}

.status span{
  padding-left: .5em;
  font-size: 1.2em;
}

.complemento{
  margin-top: 10px;
}